@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Image comparison</h1>
    <p>Select which image you think is better out of the two, the image with the most clicks is considered the best one.</p>
</div>
<div class="">

</div>
